footer.footer
    .container
        span.footer__item © GoodLabs 
            span.date-0(data-format="yyyy") 2019
        a(href="privacy.html" target="_blank").footer__item.footer__item--privacy Privacy Policy
        .footer__item Instagram 
            a(href="https://www.instagram.com/goodlabs_immunal/?hl=ru").item__link @goodlabs.Immunal