header.header
    .container
        .header__burger
            img(src="img/menu.png", alt="burger-menu" width="40", height="35")
        .header__mob
            .header__bg
            .header__content
                .content__top
                    img(src="img/logo.png", alt="logo", width="169", height="38").top__logo
                    .top__close
                ul.content__list
                    li.list__item 
                        a(href="#nutrients").item__link Состав
                    li.list__item
                        a(href="#scientists").item__link Мнение ученых
                    li.list__item 
                        a(href="#reviews").item__link Отзывы
                    li.list__item
                        a(href="#order").item__link Как заказать
