section.nutrients.block(id="nutrients")
    .container
        h2.nutrients__title.title GoodLabs Immunal
        h3.nutrients__subtitle содержит 15&nbsp;ценных компонентов, которые создают надежный щит вашего организма.
            br
            |   Основные из них:
        .nutrients__content-mob
            .content-mob__item
                .item__text
                    span.text__title.text-medium Бета-глюкан
                    p.text-info помогает снизить риск инфекционных&nbsp;заболеваний;
                picture
                    source(srcset="img/nutrients1.webp" type="image/webp")
                    img(src="img/nutrients1.png", alt="nutrient" width="320" height="103" loading='lazy').item__img
            .content-mob__item
                .item__text
                    span.text__title.text-medium Витамин С
                    p.text-info создает мощный антиоксидантный
                        br.show-1220
                        | щит, укрепляя&nbsp;иммунитет;
                picture
                    source(srcset="img/nutrients2.webp" type="image/webp")
                    img(src="img/nutrients2.png", alt="nutrient" width="320" height="103" loading='lazy').item__img
            .content-mob__item
                .item__text
                    span.text__title.text-medium Экстракт бузины
                    p.text-info.text-info--3 стимулирует иммунную
                        br.show-1220
                        | систему;
                picture
                    source(srcset="img/nutrients3.webp" type="image/webp")
                    img(src="img/nutrients3.png", alt="nutrient" width="320" height="103" loading='lazy').item__img
            .content-mob__item
                .item__text
                    span.text__title.text-medium Цинк
                    p.text-info снижает восприимчивость к&nbsp;острым инфекциям нижних дыхательных путей;
                picture
                    source(srcset="img/nutrients4.webp" type="image/webp")
                    img(src="img/nutrients4.png", alt="nutrient" width="320" height="103" loading='lazy').item__img
            .content-mob__item
                .item__text
                    span.text__title.text-medium Витамин D
                    p.text-info обладает сильным иммуномодулирующим действием;
                picture
                    source(srcset="img/nutrients5.webp" type="image/webp")
                    img(src="img/nutrients5.png", alt="nutrient" width="320" height="103" loading='lazy').item__img
            .content-mob__item
                .item__text
                    span.text__title.text-medium Гистидин
                    p.text-info незаменимая аминокислота, которая активизирует иммунные реакции;
                picture
                    source(srcset="img/nutrients6.webp" type="image/webp")
                    img(src="img/nutrients6.png", alt="nutrient" width="320" height="103" loading='lazy').item__img
        .nutrients__content-desktop
            .content-desktop__left
                .item__text.item__text--1
                    span.text__title.text-medium Бета-глюкан
                    p.text-info помогает снизить риск инфекционных&nbsp;заболеваний;
                .item__text.item__text--3
                    span.text__title.text-medium Экстракт бузины
                    p.text-info.text-info--3 стимулирует
                        br.show-1024
                        | иммунную систему;
                .item__text.item__text--5
                    span.text__title.text-medium Витамин D
                    p.text-info обладает сильным
                        br.show-1220
                        | иммуномодулирующим действием;
            .content-desktop__center
                picture
                    source(srcset="img/bank.webp" type="image/webp")
                    img(src="img/bank.png", alt="product" width="210" height="431" loading='lazy').center__product
                .center__cover.center__cover--1
                    picture
                        source(srcset="img/nutrients1.webp" type="image/webp")
                        img(src="img/nutrients1.png", alt="product" width="320" height="103")
                .center__cover.center__cover--2
                    picture
                        source(srcset="img/nutrients2.webp" type="image/webp")
                        img(src="img/nutrients2.png", alt="product" width="320" height="103")
                .center__cover.center__cover--3
                    picture
                        source(srcset="img/nutrients3.webp" type="image/webp")
                        img(src="img/nutrients3.png", alt="product" width="320" height="103")
                .center__cover.center__cover--4
                    picture
                        source(srcset="img/nutrients4.webp" type="image/webp")
                        img(src="img/nutrients4.png", alt="product" width="320" height="103")
                .center__cover.center__cover--5
                    picture
                        source(srcset="img/nutrients5.webp" type="image/webp")
                        img(src="img/nutrients5.png", alt="product" width="320" height="103")
                .center__cover.center__cover--6
                    picture
                        source(srcset="img/nutrients6.webp" type="image/webp")
                        img(src="img/nutrients6.png", alt="product" width="320" height="103")
            .content-desktop__right
                .item__text.item__text--2
                    span.text__title.text-medium Витамин С
                    p.text-info создает мощный антиоксидантный щит, укрепляя&nbsp;иммунитет;
                .item__text.item__text--4
                    span.text__title.text-medium Цинк
                    p.text-info снижает восприимчивость к&nbsp;острым инфекциям нижних дыхательных путей;
                .item__text.item__text--6
                    span.text__title.text-medium Гистидин
                    p.text-info незаменимая аминокислота, которая активизирует иммунные реакции;

        p.nutrients__info С полным списком компонентов вы можете ознакомиться
            a(href="#suggest__table").info__link здесь

