section.order.block(id="order")
  .container
    h2.order__title.title Как заказать GoodLabs&nbsp;Immunal

    ul.order__list
      li.order__item
        img.order__item__img(src="img/order__1.svg", alt="order" width="52" height="70")
        | Оставьте заявку на сайте
      li.order__item
        img.order__item__img(src="img/order__2.svg", alt="order" width="70" height="70")
        | Ответьте на звонок оператора
      li.order__item
        img.order__item__img(src="img/order__3.svg", alt="order" width="66" height="44")
        | Оплатите после получения
      li.order__item
        img.order__item__img(src="img/order__4.svg", alt="order" width="62" height="58")
        | Укрепите иммунитет

