section.promo-last.block
    .container
        .promo-last__title
            h2.title__main.text-bold GoodLabs Immunal&nbsp;—  надежная поддержка вашего иммунитета
            h3.title__subtitle комплекс витаминов и минералов для укрепления защитных сил организма
        .promo-last__product
            picture
                source(media="(max-width:479px)" srcset="img/pack-mob.webp" type="image/webp")
                source(media="(max-width:479px)" srcset="img/pack-mob.png")
                source(srcset="img/pack.webp" type="image/webp")
                img(src="img/pack.png", alt="product" width="421" height="511" loading='lazy')
        .btn.promo-last__btn.ever-popup-btn Заказать
