section.promo.block
    .container
        .promo__title
            h2.title__main.text-bold GoodLabs Immunal&nbsp;—  надежная поддержка вашего иммунитета
            h3.title__subtitle комплекс витаминов и минералов для укрепления защитных сил организма
        .promo__product
            picture
                source(media="(max-width:479px)" srcset="img/pack-mob.webp" type="image/webp")
                source(media="(max-width:479px)" srcset="img/pack-mob.png")
                source(srcset="img/pack.webp" type="image/webp")
                img(src="img/pack.png", alt="product" width="421" height="511" )
        .btn.promo__btn.ever-popup-btn Заказать
        .promo__mark
            .mark__item
                img(src="img/mark1.png", alt="medal" width="70" height="70").item__img
                span.item__text Made in&nbsp;Germany
            .mark__item
                picture
                    source(srcset="img/mark2.webp" type="image/webp")
                    img(src="img/mark2.png", alt="product" width="70" height="70").item__img
                span.item__text GMP Certified
            .mark__item
                picture
                    source(srcset="img/mark3.webp" type="image/webp")
                    img(src="img/mark3.png", alt="product" width="70" height="70").item__img
                span.item__text Gluten 
                    br.show-480
                    | Free
            .mark__item
                picture
                    source(srcset="img/mark4.webp" type="image/webp")
                    img(src="img/mark4.png", alt="product" width="70" height="70").item__img
                span.item__text Based on&nbsp;science
