section.promo-last.block
    .container
        .promo-last__title
            h2.title__main.text-bold GoodLabs Immunal&nbsp;—  надежная поддержка вашего иммунитета
            h3.title__subtitle комплекс витаминов и минералов для укрепления защитных сил организма
        .promo-last__product
            picture
                source(srcset="img/halfpack.webp" type="image/webp")
                img(src="img/halfpack.png", alt="product" loading='lazy')
        .btn.promo-last__btn.ever-popup-btn Заказать
