section.protect.block
  .container
    .protect__wrapper
      h2.protect__title.title GoodLabs Immunal - природный иммуномодулятор&nbsp;
        span.text-nowrap
          | с бета-глюканом

      picture
        source(type='image/webp' srcset='img/protect-pack.webp')
        img.protect__prod(src='img/protect-pack.png' alt='product' width='608' height='377')

    ul.protect__list
      li.protect__item.protect__item--1
        //img.protect__item__img(src='img/protect__1.svg' alt='protect' width='59' height='61')
        h3.protect__item__title Укрепление иммунитета
        p.protect__item__text Поддерживая цельность естественного противовоспалительного барьера за счет витаминного комплекса с
          span.text-nowrap бета-глюканом,
          | можно снизить риск заражения в период сезонного снижения защитных сил организма и всеобщего упадка сил.

      li.protect__item.protect__item--2
        //img.protect__item__img(src='img/protect__2.svg' alt='protect' width='70' height='70')
        h3.protect__item__title Профилактика бактериальных
          br.show-1220
          | и вирусных инфекций
        p.protect__item__text Цинк запускает ускоренный синтез белков. Это продуцирует сильную сопротивляемость иммунной системы инфекционным агентам, попавшим через дыхательные пути в кровь.

      li.protect__item.protect__item--3
        //img.protect__item__img(src='img/protect__3.svg' alt='protect' width='70' height='71')
        h3.protect__item__title Мощная&nbsp;
          br.show-1220
          | антиоксидантная защита
        p.protect__item__text Комбинация кварцетина, кемферола, изоремнетина, которые содержаться в экстракте бузины, имеет антиоксидантное действие, противовоспалительный эффект, стимулирует иммунную систему и служит профилактикой многих заболеваний.
