section.quality.block
  .container
    .quality__bg__wrapper
      picture
        source(media='(max-width:479px)' srcset='img/quality__info-mob.jpg')
        source(type='image/webp' srcset='img/quality__info.webp')
        img.quality__bg(src='img/quality__info.jpg' alt='product' width='1170' height='600')

    .quality__wrapper
      h2.quality__title Немецкое качество без компромиссов
      p.quality__text GoodLabs Immunal произведен в Германии. Умная формула состава продукта разработана профессионалами на основании передовых научных исследований.
      img.quality__img(src='img/quality__medal.jpg' alt='medal' width='90' height='90')
