section.questions.block
  .container
      h2.questions__title.title FAQ

      ul.questions__list
        li.questions__item

          p.questions__item-title В чем уникальность комплекса IMMUNAL ТМ&nbsp;GoodLabs?
            span.questions__item-button
          p.questions__item-text Комплекс IMMUNAL ТМ GoodLabs разработан с учетом всех потребностей в питательных веществах иммунной системы человека, который живет в современном мире. Средство естественным путем стимулирует иммунную систему и служит профилактикой многих заболеваний.
        li.questions__item

          p.questions__item-title Безопасен ли прием IMMUNAL без&nbsp;назначения врача?
            span.questions__item-button
          p.questions__item-text Назначение врача не является обязательным, но при приеме других добавок или лекарственных средств стоит проконсультироваться со специалистом.
        li.questions__item

          p.questions__item-title Есть ли противопоказания к&nbsp;приему?
            span.questions__item-button
          p.questions__item-text Противопоказанием является индивидуальная непереносимость компонентов.
        li.questions__item

          p.questions__item-title Как принимать комплекс?
            span.questions__item-button
          p.questions__item-text Принимать один раз в день запивая водой во время/после приема еды.
        li.questions__item

          p.questions__item-title Какой курс приема?
            span.questions__item-button
          p.questions__item-text Курс приема определяется в соответствии с индивидуальными потребностями вашего организма.
        li.questions__item

          p.questions__item-title Как понять подойдет&nbsp;ли мне IMMUNAL ТМ&nbsp;GoodLabs?
            span.questions__item-button
          p.questions__item-text Если Ваша цель — укрепление иммунной системы, то IMMUNAL ТМ&nbsp;GoodLabs станет идеальным помощником на пути к ней.
        li.questions__item

          p.questions__item-title Не большие&nbsp;ли дозировки представлены в&nbsp;продуктах?
            span.questions__item-button
          p.questions__item-text Для регламентирования потребляемых веществ существуют нормы физиологических потребностей. На территории разных стран они установлены в индивидуальном порядке. Однако есть базовые уровни потребления на которые ориентируются все&nbsp;страны.
        li.questions__item

          p.questions__item-title Можно ли одновременно принимать цинк, витамин&nbsp;D, селен и&nbsp;витамин&nbsp;С?
            span.questions__item-button
            | Они будут нормально усваиваться?
          p.questions__item-text Пить такой комплекс можно, компоненты средства представлены в профилактических дозировках с высокой биоусвояемостью. Откровенных антагонистов в IMMUNAL ТМ&nbsp;GoodLabs в составе нет.
        li.questions__item

          p.questions__item-title Не влияет&nbsp;ли прием комплекса IMMUNAL ТМ&nbsp;GoodLabs на&nbsp;ЖКТ?
            span.questions__item-button
          p.questions__item-text Средство IMMUNAL ТМ&nbsp;GoodLabs имеет мягкие профилактические дозировки компонентов состава, что не влияют на работу ЖКТ. Наоборот, отдельные компоненты средства призваны ускорить метаболизм и улучшить работу
            span.text-nowrap желудочно-кишечного
            | тракта.
        li.questions__item

          p.questions__item-title Можно ли принимать комплекс IMMUNAL ТМ&nbsp;GoodLabs для&nbsp;профилактики во&nbsp;время заболеваний?
            span.questions__item-button
          p.questions__item-text Конечно, витаминный комплекс IMMUNAL ТМ&nbsp;GoodLabs предназначен для постоянной поддержки иммунитета человека, в том числе и в период активизации простудных сезонных заболеваний.

