section.suggest.block
  .container
    .suggest__wrapper
      h2.suggest__title.title Suggested use

      ul.suggest__list

        li.suggest__item
          h3.suggest__subtitle Recommended dosage:
          |take 1 capsule daily with water with or after food

        li.suggest__item
          h3.suggest__subtitle Caution:
          | do not exceed the recommended daily dose.
          | A food supplement is not intended to substitute
          | for a nealhty diet. Do not use the product in case o individual intolerance to the ingredients.

        li.suggest__item
          h3.suggest__subtitle Storage:
          | store in the original packaging in a dark dry place.
          | Do not store above 25 °C.

    .suggest__table(id="suggest__table")
      .suggest__row.suggest__row--first
        .suggest__cell.suggest__cell--header.suggest__cell--component Component
        .suggest__cell.suggest__cell--header.suggest__cell--quantity Amount per I capsule
        .suggest__cell.suggest__cell--header.suggest__cell--source NRV*

      .suggest__row
        .suggest__cell.suggest__cell--component Vitamin C
        .suggest__cell.suggest__cell--quantity 200 mg
        .suggest__cell.suggest__cell--weight 250%

      .suggest__row
        .suggest__cell.suggest__cell--component Vitamin B1
        .suggest__cell.suggest__cell--quantity 1,7 mg
        .suggest__cell.suggest__cell--weight 150%

      .suggest__row
        .suggest__cell.suggest__cell--component Vitamin B2
        .suggest__cell.suggest__cell--quantity 2,1 mg
        .suggest__cell.suggest__cell--weight 150%

      .suggest__row
        .suggest__cell.suggest__cell--component Vitamin B12
        .suggest__cell.suggest__cell--quantity 6,0 mg
        .suggest__cell.suggest__cell--weight 240%

      .suggest__row
        .suggest__cell.suggest__cell--component Vitamin B6
        .suggest__cell.suggest__cell--quantity 2,1 mg
        .suggest__cell.suggest__cell--weight 150%

      .suggest__row
        .suggest__cell.suggest__cell--component Biotin
        .suggest__cell.suggest__cell--quantity 750 ug
        .suggest__cell.suggest__cell--weight 1500%

      .suggest__row
        .suggest__cell.suggest__cell--component Folic acid
        .suggest__cell.suggest__cell--quantity 400 ug
        .suggest__cell.suggest__cell--weight 200%


      .suggest__row
        .suggest__cell.suggest__cell--component Vitamin D
        .suggest__cell.suggest__cell--quantity 20,0 ug
        .suggest__cell.suggest__cell--weight 400%

      .suggest__row
        .suggest__cell.suggest__cell--component Vitamin A
        .suggest__cell.suggest__cell--quantity 333 ug
        .suggest__cell.suggest__cell--weight 42%

      .suggest__row
        .suggest__cell.suggest__cell--component Zinc
        .suggest__cell.suggest__cell--quantity 10,0 mg
        .suggest__cell.suggest__cell--weight 100%

      .suggest__row
        .suggest__cell.suggest__cell--component Copper
        .suggest__cell.suggest__cell--quantity 0,20 mg
        .suggest__cell.suggest__cell--weight 20%

      .suggest__row
        .suggest__cell.suggest__cell--component Selenium
        .suggest__cell.suggest__cell--quantity 100 ug
        .suggest__cell.suggest__cell--weight 182%

      .suggest__row
        .suggest__cell.suggest__cell--component Histidine
        .suggest__cell.suggest__cell--quantity 50,0 mg
        .suggest__cell.suggest__cell--weight **

      .suggest__row
        .suggest__cell.suggest__cell--component Elderberry extract 4:1
        .suggest__cell.suggest__cell--quantity 100 mg
        .suggest__cell.suggest__cell--weight **

      .suggest__row
        .suggest__cell.suggest__cell--component Beta glucan
        .suggest__cell.suggest__cell--quantity 5,0 mg
        .suggest__cell.suggest__cell--weight **



