section.vitamins.block
    .container
        .vitamins__text
            h2.text__title.title GoodLabs&nbsp;Immunal coдержит самые необходимые витамины
            p.text__info Cовременный мир диктует свои правила и&nbsp;при активном ритме жизни сложно придерживаться режима здорового питания для&nbsp;получения всех необходимых витаминов и&nbsp;минералов из&nbsp;еды.
                | В&nbsp;таблице показано, какие продукты и&nbsp;их вес соответствуют количеству витамина в&nbsp;1&nbsp;капсуле GoodLabs.
        .vitamins__table
            .table__row.table__row--first
                .row__cell.row__cell--header.row__cell--component Компонент
                .row__cell.row__cell--header.row__cell--source Натуральный источник
                .row__cell.row__cell--header.row__cell--quantity Кол-во <br>в 1 капсуле
                .row__cell.row__cell--header.row__cell--weight Вес еды <br>= 1 капсула
            .table__row
                .row__cell.row__cell--component Витамин C
                .row__cell.row__cell--source
                  .cell__img
                    img(src="img/lemon.png", alt="lemon" width="40" height="40" loading='lazy')
                  span Лимон
                .row__cell.row__cell--quantity 200 mg
                .row__cell.row__cell--weight 377g

            .table__row
                .row__cell.row__cell--component Витамин B1
                .row__cell.row__cell--source
                  .cell__img
                    img(src="img/sunflower.png", alt="seeds" width="53" height="30" loading='lazy')
                  span Семена подсолнуха
                .row__cell.row__cell--quantity 1,7 mg
                .row__cell.row__cell--weight 87 g

            .table__row
                .row__cell.row__cell--component Витамин B2
                .row__cell.row__cell--source
                  .cell__img
                    img(src="img/almont.png", alt="almont" width="41" height="33" loading='lazy')
                  span Миндаль
                .row__cell.row__cell--quantity 2,1 mg
                .row__cell.row__cell--weight 338 g

            .table__row
                .row__cell.row__cell--component Витамин B12
                .row__cell.row__cell--source
                  .cell__img
                    img(src="img/mackerel.png", alt="mackerel" width="44" height="33" loading='lazy')
                  span Скумбрия
                .row__cell.row__cell--quantity 6,0 mg
                .row__cell.row__cell--weight 38 g


            .table__row
                .row__cell.row__cell--component Витамин B6
                .row__cell.row__cell--source
                  .cell__img
                    img(src="img/tuna.png", alt="tuna" width="53" height="32" loading='lazy')
                  span Тунец
                .row__cell.row__cell--quantity 2,1 mg
                .row__cell.row__cell--weight 233 g


            .table__row
                .row__cell.row__cell--component Витамин D
                .row__cell.row__cell--source
                  .cell__img
                    img(src="img/salmont.png", alt="salmont" width="47" height="33" loading='lazy')
                  span Лосось
                .row__cell.row__cell--quantity 20,0 mg

                .row__cell.row__cell--weight 181 g


            .table__row.table__row--last
                .row__cell.row__cell--component Витамин A
                .row__cell.row__cell--source
                  .cell__img
                    img(src="img/carrot.png", alt="carrot" width="59" height="26" loading='lazy')
                  span Морковь
                .row__cell.row__cell--quantity 333 mg

                .row__cell.row__cell--weight 40 g
