section.winter.block
  .container


    .winter__img
      picture
        source(type='image/webp' srcset='img/winter.webp')
        img.winter__prod.winter__prod--desk(src='img/winter.jpg' alt='product' width='470' height='420')

      .winter__snowflake
        picture
          img.snowflake(src='img/snowflake.svg' alt='snowflake' width='76' height='76')

    .winter__wrapper
      h2.winter__title.title Зима — самое время для укрепления иммунитета


      p.winter__text
        | Зима — время, когда нашему иммунитету нужна поддержка больше всего.
        | В этот период наступает дефицит солнечного света, а иммунитет человека очень зависит от этого фактора.
        | Заменить солнце невозможно, но есть другие способы поддержки защитных функция организма:

      .winter__wrapper-list
        ul.winter__list
          li.winter__item
            | полноценный сон;

          li.winter__item
            | сбалансированный рацион;

          li.winter__item
            | свежий воздух;

          li.winter__item
            | прием дополнительных источников витаминов.



        picture
          source(type='image/webp' srcset='img/winter.webp')
          img.winter__prod.winter__prod--mob(src='img/winter.jpg' alt='product' width='470' height='420')



